.tender{
    padding-left: 40%;
}
/* .bg {
    height: 100%;
    background-image: url("Tender-01.png");
     background-color: #cccccc; 
    background-repeat: no-repeat, repeat;
   } */
 .heading{
    padding: 150px 50px 300px 800px;
  } 