.signinpage{
    padding-left: 44%;
    padding-top: 5%;
}
/* body {
    height: 100%;
    background-image: url("Userlogin.jpg");
    background-color: #cccccc; 
    background-repeat: no-repeat, repeat;
   } */

   .new{
    text-align: center;
   }

   .submitbtn5{
    padding-top: 10rem;
   }